@import url('indexResp.css');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #cbbba0;
    font-size: 16px;
}

h2{
    font-size: 2.2rem;
    text-transform: uppercase;
    color: black;
}

h3 {
    font-size: 1.7rem;
    font-family: "Merriweather", serif;
    font-weight: bold;
    text-transform: uppercase;
}

h4{
    color: black;
    font-family: "Oswald";
    font-weight: lighter;
}

article{
    font-family: "Oswald";
    font-weight: lighter;
    font-size: 1.2rem;
}

p{
    color: black;
}

.button-discover{
    text-transform: uppercase;
    background-image: url(../assets/imgs/button.webp);
    background-repeat: no-repeat;
    background-size: 170px 87px;
    background-position: center center;
    background-color: transparent;
    border: none;
    padding: 3rem;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Oswald";
    font-weight: lighter;
}

body{
    background-image: url(../assets/imgs/bg.webp);
}

.fixed_logo{
    position: fixed;
    left: 55px;
    top: 45px;
}

.hero-banner{
    background-image: url(../assets/imgs/bgheader);
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-banner header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner header nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 1.5rem;
}

.hero-banner header nav ul li a{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: "Merriweather";
    font-weight: 300;
}

.hero-banner .container-prez{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.hero-banner .container-prez h3{
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero-banner .container-prez .line{
    background-color: #cbbba0;
    height: 2px;
    width: 280px;
    margin-bottom: 1.8rem
}


.hero-banner .container-prez article{
    width: 35%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}

.hero-banner .scroll{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.hero-banner .scroll .scroll-button{
    margin-bottom: 0.3rem;
}

main{
    background-color: #121212;
    background-image: url(../assets/imgs/bg.webp);
}

main .products{
    padding: 180px 15%;
    background-image: url(../assets/imgs/produits.webp),
    url(../assets/imgs/beer_cpas.webp),
    url(../assets/imgs/beer_caps.webp),
    url(../assets/imgs/pattern_logo.webp),
    url(../assets/imgs/beer_glass_low.webp),
    url(../assets/imgs/carte-postal.webp),
    url(../assets/imgs/photos_souvenir.webp);
    background-position: -120px -80px,
    -30px 100px,
    110% 170px,
    110% 45%,
    110% 35%,
    -23% 65%,
    100% 90%;
    background-repeat: no-repeat;
}

main .products .right-content{
    display: flex;
    justify-content: end;
}

main .products .left-content{
    margin-top: 70%;
}

main .products .container-content{
    border: 6px solid #cbbba0;
    padding: 0 4.5rem;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main .products .container-content span{
    display: block;
    font-size: 2.5rem;
}

main .products .container-content h3{
    border-top: 2px solid #cbbba0;
    border-bottom: 2px solid #cbbba0;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 300;
}

main .products .container-content article{
    padding: 2.5rem;
    border-bottom: 2px solid #cbbba0;
    margin-bottom: 1rem;
}

main .recipes{
    background-image: url(../assets/imgs/houblon.webp),
    url(../assets/imgs/blé.webp);
    background-position: -20% 0,
    160% 10px;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
}

main .recipes h2{
    background-image: url(../assets/imgs/title-recipes.webp);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    text-align: center;
    margin-bottom: 4rem;
}

main .recipes .recipes-container{
    display: flex;
    justify-content: center;
}

main .recipes .recipes-container .recipe-right-content,
main .recipes .recipes-container .recipe-left-content{
    text-align: center;
    width: 23%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

main .recipes .recipes-container .recipe-right-content h3,
main .recipes .recipes-container .recipe-left-content h3{
    border-top: 2px solid #cbbba0;
    border-bottom: 2px solid #cbbba0;
    padding: 1rem;
}

main .recipes .recipes-container .recipe-right-content article,
main .recipes .recipes-container .recipe-left-content article{
    border-bottom: 2px solid #cbbba0;
    padding: 2rem;
}

main .tastings{
    background-image:url(../assets/imgs/opener.webp),url(../assets/imgs/beercaps.webp),
    url(../assets/imgs/bgTastings.webp)
    ;
    background-repeat: no-repeat;
    background-position: 5% 80%, -115px -20px, 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10% 15%;
}

main .tastings .tasting-content-left{
    width: 50%;
}

main .tastings .tasting-content-left h2{
    font-size: 4.5rem;
    font-family: "Oswald";
    font-weight: lighter;
    margin-bottom: 2rem;
    text-transform: none;
}

main .tastings .tasting-content-left p{
    font-size: 1.5rem;
    font-family: "Oswald";
    font-weight: lighter;
}

main .tastings .tasting-content-left img{
    margin-top: 40%;
    margin-left: 20%;
}

main .tastings .tasting-content-right{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

main .tastings .tasting-content-right i{
    font-size: 3rem;
    color: black;
    margin-right: 1rem;
}

main .tastings .tasting-content-right h4{
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

main .tastings .tasting-content-right p{
    font-family: Oswald;
    font-weight: 400;
    letter-spacing: 1px;
}

.contact{
    background-image: url(../assets/imgs/photo.webp);
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10% 15%;
}

.contact .contact-content-left .content{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact .contact-content-left h2{
    font-size: 4.5rem;
    color: #cbbba0;
    text-transform: none;
    font-family: "Oswald";
    font-weight: lighter;
    letter-spacing: 2px;
}

.contact .contact-content-left .content span{    
    font-weight: bold;
    font-family: "Oswald";
    color: #cbbba0;
}

.contact .contact-content-left .content p{
    font-size: 1.5rem;
    font-family: "Oswald";
    color: #cbbba0;
}

.contact .contact-content-right{
    width: 45%;
}

.contact .contact-content-right form{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

.contact .contact-content-right form input,
.contact .contact-content-right form textarea{
    background: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid #cbbba0;
    margin-top: 2rem;
    padding: 0.2rem;
}
.contact .contact-content-right form input::placeholder,
.contact .contact-content-right form textarea::placeholder{
    font-size: 1.2rem;
    font-family: Oswald;
    color: #cbbba0;
}


footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
}

footer .social-media{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

footer .social-media i{
    border: 2px solid #cbbba0;
    border-radius: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav{
    text-transform: uppercase;
    margin-bottom: 2rem;
}

footer nav a:not(:last-child){
    border-right: 1px solid #cbbba0;
    padding-right: 1.5rem;
    font-size: 0.8rem;
    font-family: "Merriweather";
}

footer nav a:not(:first-child){
    padding-left: 1.5rem;
}

footer p{
    color: #cbbba0;
    font-size: 0.7rem;
    font-family: "Merriweather";
}

/* Resp */

.nav-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.nav-mobile i{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10%;
}

.nav-mobile .header-expand{
    background-image:url(../assets/imgs/bgTastings.webp);
    border-radius: 1%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    
}

.nav-mobile .header-expand nav ul {
    margin-top: 3rem;
}

.nav-mobile .header-expand nav ul li a{
    font-size: 1.5rem;
    color: #121212;
    text-transform: uppercase;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0.8rem;
}

.nav-mobile .header-expand i{
    font-size: 2rem;
    color: #121212;
    display: flex;
    justify-content: end;
}

.display-none{
    display: none;
}