*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #cbbba0;
    scroll-behavior: smooth;
    font-size: 16px;
}

h2{
    font-size: 2.2rem;
    text-transform: uppercase;
    color: black;
}

h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-family: Merriweather;
}

h4{
    color: black;
}

p{
    color: black;
}

article{
    font-family: Oswald;
    font-size: 1.2rem;
}

.button-discover{
    text-transform: uppercase;
    background-image: url(/assets/imgs/button.png);
    background-repeat: no-repeat;
    background-size: 170px 87px;
    background-position: center center;
    border: none;
    padding: 3rem;
    text-align: center;
}

body{
    background-image: url(/assets/imgs/bg);
}

.fixed_logo{
    position: fixed;
    left: 55px;
    top: 45px;
}

.hero-banner{
    background-image: url(/assets/imgs/bgheader);
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: cover;
}

.hero-banner header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner header nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 1.5rem;
}

.hero-banner header nav ul li a{
    text-transform: uppercase;
    font-size: 0.7rem;
}

.hero-banner .container-prez{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.hero-banner .container-prez h3{
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero-banner .container-prez .line{
    background-color: #cbbba0;
    height: 2px;
    width: 280px;
    margin-bottom: 1.8rem
}


.hero-banner .container-prez article{
    width: 35%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.hero-banner .scroll{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.hero-banner .scroll .scroll-button{
    margin-bottom: 0.8rem;
}

main{
    background-color: #121212;
    background-image: url(/assets/imgs/bg.png);
}

main .products{
    padding: 180px 15%;
    background-image: url(/assets/imgs/produits.png),
    url(/assets/imgs/beer_cpas.png),
    url(/assets/imgs/beer_caps.png),
    url(/assets/imgs/pattern_logo.png),
    url(/assets/imgs/beer_glass_low.png),
    url(/assets/imgs/carte_postal.png),
    url(/assets/imgs/photos_souvenir.png);
    background-position: -120px -80px,
    -30px 100px,
    110% 170px,
    110% 45%,
    110% 35%,
    -23% 65%,
    100% 90%;
    background-repeat: no-repeat;
}

main .products .right-content{
    display: flex;
    justify-content: end;
}

main .products .left-content{
    margin-top: 70%;
}

main .products .container-content{
    border: 6px solid #cbbba0;
    padding: 0 4.5rem;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main .products .container-content span{
    display: block;
    font-size: 2.5rem;
}

main .products .container-content h3{
border-top: 2px solid #cbbba0;
border-bottom: 2px solid #cbbba0;
padding: 1rem 0;
text-transform: uppercase;
}

main .products .container-content article{
    padding: 2.5rem;
    border-bottom: 2px solid #cbbba0;
    margin-bottom: 1rem;
}

main .recipes{
    background-image: url(/assets/imgs/houblon.png),
    url(/assets/imgs/blé.png);
    background-position: -20% 0,
    160% 10px;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
}

main .recipes h2{
    background-image: url(/assets/imgs/title_recipes.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    text-align: center;
    margin-bottom: 4rem;
}

main .recipes .recipes-container{
    display: flex;
    justify-content: center;
}

main .recipes .recipes-container .recipe-right-content,
main .recipes .recipes-container .recipe-left-content{
    text-align: center;
    width: 23%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

main .recipes .recipes-container .recipe-right-content h3,
main .recipes .recipes-container .recipe-left-content h3{
    border-top: 2px solid #cbbba0;
    border-bottom: 2px solid #cbbba0;
    padding: 1rem;
}

main .recipes .recipes-container .recipe-right-content article,
main .recipes .recipes-container .recipe-left-content article{
    border-bottom: 2px solid #cbbba0;
    padding: 2rem;
}

main .tastings{
    background-image:url(/assets/imgs/opener.png),url(/assets/imgs/beercaps.png),
    url(/assets/imgs/bgTastings.png)
    ;
    background-repeat: no-repeat;
    background-position: 5% 80%, -115px -20px, 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10% 15%;
}

main .tastings .tasting-content-left{
    width: 50%;
}

main .tastings .tasting-content-left p{
    font-size: 1.5rem;
}

main .tastings .tasting-content-left img{
    margin-top: 40%;
    margin-left: 20%;
}

main .tastings .tasting-content-right{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

main .tastings .tasting-content-right i{
    font-size: 3rem;
    color: black;
    margin-right: 1rem;
}

main .tastings .tasting-content-right h4{
    margin-bottom: 2rem;   
}

main .tastings .tasting-content-right p{
    font-family: Oswald;
    font-weight: bold;
}